<nav class="bg-transparent p-4 flex w-full justify-between items-center">
    <h1 class="font-bold italic text-2xl text-blue-800">Jorge Chávez</h1>
    <ul class="flex gap-6 items-center">
        @for (m of menu; track $index) {
            <li><a class="p-2 font-medium text-gray-400" routerLink="{{m.url}}">{{m.title}}</a></li>
        }
        <li>
            <a class="p-2 font-medium text-gray-400 flex items-center cursor-pointer" [matMenuTriggerFor]="beforeMenu">
                <span>Estudiante</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </a>
        </li>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-40">
            <button routerLink="/login" class="w-full py-1.5 px-3 text-start">Intranet</button>
            <button class="w-full py-1.5 px-3 text-start">Padres</button>
        </mat-menu>
    </ul>
</nav>