<div class="py-4 px-6 flex flex-col justify-between h-full sidenav">
    <div class="flex flex-col gap-10">
        <div class="flex gap-2 items-center p-3 rounded-md bg-white shadow-sm">
            <img src="https://scontent.ftru1-1.fna.fbcdn.net/v/t1.6435-9/162123563_185273916737830_2316692424222995427_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=YJm5J2DACVIQ7kNvgE8C3rP&_nc_ht=scontent.ftru1-1.fna&oh=00_AYC2ZAyfxPS9fyLlSUHVpyh2PyvG76gNuNgsiqLUMOTFxQ&oe=6699F817" alt="img"
                class="w-10 h-10 rounded-md border">
            <h1>JCCS<span class="text-slate-400">Virtual</span> </h1>
        </div>
        <ul class="flex flex-col gap-1">
            @for (sidenav of sidebarMenu; track $index) {
            <li class="w-full" routerLinkActive="active">
                <a class="navlink" routerLink="{{ sidenav.link }}" routerLinkActive="navlink-active">
                    <div class="flex items-center justify-center text-center" >
                        <mat-icon matListItemIcon class="material-icons-outlined">{{ sidenav.icon }}</mat-icon>
                    </div>
                    <span>{{ sidenav.menu }}</span>
                </a>
            </li>
            }
        </ul>
    </div>
    <button class="navlink-logout" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span>Cerrar sesión</span>
    </button>
</div>