mat-sidenav{
    width: 250px;
    border: none;
    /* border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    top: 10px !important;
    bottom: 10px !important; */
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
mat-sidenav-container{
    background-color: whitesmoke;
}
.btn-icon{
    background-color: #ebeaea;
}