mat-sidenav{
    width: 250px;
    border: none;
}
mat-sidenav-container{
    background-color: #FAFAFA;
}
mat-sidenav{
    background-color: #FDFDFD;
}
mat-sidenav-content{
    padding: 1rem;
}
mat-toolbar{
    background-color: transparent;
}
