<mat-sidenav-container autosize>
    <mat-sidenav #sidenav fixedInViewport [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false" class="shadow-2xl">
        <!-- sidebar -->
        <app-sidenav-student></app-sidenav-student>
        <!-- end sidebar -->
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- toolbar -->
        <mat-toolbar>
            <button type="button" mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="ms-auto flex items-center gap-2">
                <button mat-icon-button class="btn-icon">
                    <mat-icon class="material-icons-outlined">dark_mode</mat-icon>
                </button>

                <button mat-icon-button class="btn-icon">
                    <mat-icon class="material-icons-outlined">notifications</mat-icon>
                </button>

                <button [matMenuTriggerFor]="menu">
                    <div>
                        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-full" alt="" height="40" width="40">
                        
                    </div>
                </button>
                <mat-menu #menu="matMenu" class="profile-dropdown w-44">
                    <div>
                        <button mat-menu-item>Mi perfil</button>
                        <button mat-menu-item>Editar perfil</button>
                        <button mat-menu-item>Configuración</button>
                    </div>
                    <hr>
                    <div>
                        <button mat-button color="accent" class="w-full text-white">Logout</button>
                    </div>
                </mat-menu>
            </div>
        </mat-toolbar>
        <!-- end toolbar -->
        <div class="  p-4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>