<mat-sidenav-container autosize>
    <mat-sidenav #sidenav fixedInViewport [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false" class="shadow-2xl">
        <!-- sidebar -->
        <app-sidenav-student></app-sidenav-student>
        <!-- end sidebar -->
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- toolbar -->
        <mat-toolbar>
            <div class="flex w-full items-center justify-between">
                <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1>Dashboard</h1>
                <app-toolbar-student></app-toolbar-student>
            </div>
        </mat-toolbar>
        <!-- end toolbar -->
        <div class="py-4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>