<div class="flex bg-white items-center bg-gradient-to-r from-slate-50 to-blue-50 h-screen">
    <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
        <div>
            <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">PREPÁRATE PARA EL RETORNO A CLASES</h2>
            <p class="mt-2 text-sm text-gray-500 md:text-base">Descubre cómo la Institución Educativa Particular Jorge Chavez está preparando un regreso a clases seguro y emocionante para todos los estudiantes.</p>
            <div class="flex justify-center lg:justify-start mt-6">
                <a class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800" href="nosotros">Descubre quiénes somos</a>
                <a class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" href="servicios">Averigua sobre nuestros servicios</a>
            </div>
        </div>
    </div>
    <div class="lg:w-1/2 flex items-center justify-center p-10">
        <img src="assets/learning.svg" alt="" class="w-1/2">
    </div>
</div>


