<div class="bg-white rounded-lg border w-9/12">
    <div class="p-4 flex justify-between">
        <h1 class="text-gray-500">{{courses.length || 0}} cursos en total</h1>
        <div class="flex gap-2">
            <button class="border p-1 flex items-center justify-center text-slate-600 rounded" (click)="setView('list')" [ngClass]="{'selected': currentView === 'list'}">
                <mat-icon>list</mat-icon>
            </button>
            <button class="border p-1 flex items-center justify-center text-slate-600 rounded" (click)="setView('grid')" [ngClass]="{'selected': currentView === 'grid'}">
                <mat-icon>grid_view</mat-icon>
            </button>
        </div>
    </div>
    <!-- card course list/grid -->
    <div [ngClass]="currentView">
        @for (c of courses; track $index) {
            <app-course-card [course]="c" [view]="currentView"></app-course-card>
        }
    </div>
</div>