<div class="bg-white dark:bg-zinc-900 rounded-lg border dark:border-zinc-800 w-full lg:w-9/12">
    <div class="p-4 flex justify-between items-center">
        <h1 class="text-gray-500">{{enrollments.length || 0}} cursos en total</h1>
        <div class="flex gap-2">
            <button class="shadow dark:shadow-slate-800 p-1 flex items-center justify-center text-slate-600 dark:text-slate-400 rounded transition duration-300" (click)="setView('list')" [ngClass]="{'selected': currentView === 'list'}">
                <mat-icon>list</mat-icon>
            </button>
            <button class="shadow dark:shadow-slate-800 p-1 flex items-center justify-center text-slate-600 dark:text-slate-400 rounded transition duration-300" (click)="setView('grid')" [ngClass]="{'selected': currentView === 'grid'}">
                <mat-icon>grid_view</mat-icon>
            </button>
        </div>
    </div>
    <!-- card course list/grid -->
    <div [ngClass]="currentView" class="p-4">
        @for (e of enrollments; track $index) {
            <app-course-card [enrollment]="e" [view]="currentView"></app-course-card>
        }
    </div>
</div>