<div class="py-2">
    <mat-toolbar>
        <div class="flex w-full items-center justify-between">
            <button mat-icon-button (click)="onToggleSidenav()" *ngIf="isHandset$ | async">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="flex items-center gap-3 ml-auto">
                <button class="p-1.5 flex items-center justify-center border rounded-lg bg-white hover:bg-gray-100 transition duration-150 ease-in-out">
                    <mat-icon class="material-icons-outlined">dark_mode</mat-icon>
                </button>
            
                <button class="p-1.5 flex items-center justify-center border rounded-lg bg-white hover:bg-gray-100 transition duration-150 ease-in-out" [matMenuTriggerFor]="notifications">
                    <mat-icon class="material-icons-outlined" matBadge="{{listNotifications.length || 0}}" matBadgeColor="warn">notifications</mat-icon>
                </button>
            
                <mat-menu #notifications="matMenu">
                    <div>
                        <div class="p-3">
                            <span>Notificaciones</span>
                        </div>
                        <div class="px-3 bg-slate-100">
                            @for (n of listNotifications; track $index) {
                                <div class="flex items-center gap-2 p-1">
                                    <img src="{{n.avatar}}" class="rounded-full" width="40" height="40" alt="">
                                    <div>
                                        <small>{{n.message}}</small>
                                        <p><small>{{n.date}}</small></p>
                                    </div>
                                </div><hr>
                            }
                        </div>
                    </div>
                </mat-menu>
                
            
                <button [matMenuTriggerFor]="menu">
                    <button class="p-1.5 flex items-center border rounded-lg bg-white leading-4 gap-2">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-full" alt="" height="27" width="27">
                        <div class="space-y-0 flex flex-col items-start">
                            <span class="font-semibold text-[13px]">{{ getFullname() }}</span>
                            <span class="text-gray-500 text-[12px]">{{ getRoleUser() }}</span>
                        </div>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </button>
                <mat-menu #menu="matMenu" class="profile-dropdown w-44">
                    <div>
                        <button mat-menu-item [routerLink]="['/virtual/student/profile', getIdUser()]">Mi perfil</button>
                        <button mat-menu-item>Editar perfil</button>
                        <button mat-menu-item>Configuración</button>
                    </div>
                    <hr>
                    <div>
                        <button mat-button color="accent" class="w-full text-white">Logout</button>
                    </div>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>
</div>