<main class="h-full sidenav">
    <section class="flex flex-col gap-10 p-2">
        <div class="flex gap-2 items-center shadow-sm">
            <img src="https://scontent.ftru1-1.fna.fbcdn.net/v/t1.6435-9/162123563_185273916737830_2316692424222995427_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=YJm5J2DACVIQ7kNvgE8C3rP&_nc_ht=scontent.ftru1-1.fna&oh=00_AYC2ZAyfxPS9fyLlSUHVpyh2PyvG76gNuNgsiqLUMOTFxQ&oe=6699F817" alt="img"
                class="w-10 h-10 rounded-md border">
            <h1 class="text-slate-300 font-semibold text-xl">JCCS<span>Virtual</span> </h1>
        </div>
        <ul class="flex flex-col">
            @for (item of navItems; track $index) {
                <li class="w-full">
                    <a routerLink="{{item.url}}" class="navlink" routerLinkActive="active">
                        <div class="flex items-center justify-center text-center" >
                            <mat-icon matListItemIcon class="material-icons-outlined">{{ item.icon }}</mat-icon>
                        </div>
                        <span>{{ item.title }}</span>
                    </a>
                </li>
            }
        </ul>
        <button class="navlink" (click)="logout()">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </section>
</main>