<main class="flex h-screen">
    <section class="w-7/12 flex justify-center items-center bg-gray-200">
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mobile-app.svg" alt="">
    </section>
    <section class="w-5/12 flex justify-center items-center p-20">
        <form>
            <div class="py-5">
                <h1 class="text-3xl text-gray-500">Bienvenido</h1>
            </div>
            <mat-form-field class="w-full">
                <mat-label>Correo Electrónico</mat-label>
                <input type="email" matInput>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            
            <mat-form-field class="w-full" >
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <a mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </a>
            </mat-form-field>
            <mat-checkbox color="primary">remember me</mat-checkbox>
            <div class="space-y-3">
                <button mat-raised-button color="primary" class="w-full">Iniciar sesión</button>
                <button mat-raised-button class="w-full">
                    <div class="flex gap-2">
                        <img src="assets/google-logo.png" width="20" height="
                    20" alt="">
                        <span>Iniciar sesión con Google</span>
                    </div>
                </button>
            </div>
            <p class="pt-4 text-center">¿No tienes una cuenta? 
                <a href="" class="underline">Ingresa aquí</a>
            </p>
        </form>
    </section>
</main>
<!-- <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mobile-app.svg" alt=""> -->